body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

h1 {
    margin: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 800px;
    height: 800px;
}

.col {
    display:flex;
    flex-direction: column;
}

.pixel {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    flex: 1 1 auto;
}